* {
    /* outline: 1px solid red; */
    transition: .3s ease all;
}

/* variaveis */
:root {
    --preto-opaco: #00000092;
    --azul: #38B6FF;
    --azul-opaco: #38b6ff1a;
    --cinza-borda: #d3d3d39e;
    --cinza-texto: #a0a0a0;
}

/* geral */

main,
.conteudo {
    background-color: #F9FAFB;
    height: calc(100dvh - 60px);
    width: 100%;
    overflow: auto;
}

.conteudo {
    padding: 1rem;
}

main {
    display: flex;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: .5rem;

    & h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    & p {
        font-size: 1.1rem;
        margin-top: -.5rem;
        color: var(--preto-opaco);
    }
}

#div-erro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    border-radius: .8rem;
    position: fixed;
    right: 2rem;
    bottom: -50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    padding: .5rem 2rem;
    animation: show 5s;

    & i {
        font-size: 1.8rem;
    }
}

@keyframes show {
    0% {
        bottom: -50%;
    }

    20% {
        bottom: 2rem;
    }

    80% {
        bottom: 2rem;
    }

    100% {
        bottom: -50%;
    }
}

/* header */
.link-user {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .8rem;
    width: 10rem;
}

/* menu */
.link-menu {
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: 1rem;
    border-radius: .5rem;

    & i {
        font-size: 1.3rem;
    }

    &:hover {
        background-color: var(--azul-opaco);

        & i {
            color: var(--azul);
        }
    }
}

.atual {
    background-color: var(--azul-opaco);
    border-right: .15rem solid var(--azul);
    color: var(--azul);
    font-weight: bold;
}

/* tabelas */
.table-container {
    width: 100%;
    overflow: auto;

    & table {
        width: 100%;
        background-color: #fff;

        & thead {
            background-color: #F9FAFB;

            & th {
                padding: .5rem;
                font-weight: 500;
            }
        }

        & .celula-tabela {
            padding: 1rem;
            border-top: 1px solid var(--cinza-borda);
        }
    }

    #td-acoes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        padding: 1rem;

        & #btn-edita,
        #btn-deleta {
            border: none;
            font-size: 1.5rem;

            & button {
                cursor: pointer;
            }
        }

        & #btn-edita {
            color: var(--azul);
        }

        & #btn-deleta {
            color: #c1121f;
        }
    }
}