@import "tailwindcss";
@import "./dashboard.css";
@import "./formulario.css";
@import "./historico.css";
@import "./modal.css";
@import "./config.css";
@import "./categoria.css";
@import "./venda.css";

* {
  /*outline: 1px solid red;*/
  transition: background-color 0.3s ease, color 0.1s, opacity 0.3s;
}

/* variaveis */
:root {
  --preto-opaco: #00000092;
  --azul: #38b6ff;
  --azul-opaco: #38b6ff1a;
  --cinza-borda: #d8dae0;
  --cinza-texto: #a0a0a0;
  --fundo-cinza-claro: #f2f3f6;
}

/* geral */
@layer base {
  main {
    @apply bg-[var(--fundo-cinza-claro)] h-[calc(100dvh-60px)] w-full overflow-auto flex;
  }
}

@layer components {
  .conteudo {
    @apply bg-[var(--fundo-cinza-claro)] h-[calc(100dvh-60px)] w-full overflow-auto p-4;
  }

  .titulo {
    @apply flex justify-between items-center w-full mb-2;

    & .txt-titulo {
      & h1 {
        @apply text-2xl font-bold;
      }

      & p {
        @apply text-lg text-black/60;
      }
    }

    & a,
    button {
      @apply flex items-center space-x-2 bg-sky-600 text-white px-4 py-2 rounded-lg hover:bg-sky-700 transition-colors cursor-pointer;
    }

    & .exportar {
      @apply bg-green-600;
    }
  }

  #div-erro {
    @apply flex items-center justify-center gap-4 text-lg rounded-xl fixed right-8 bottom-[-50%] shadow-lg bg-white px-8 py-2 animate-[show_5s];

    & i {
      @apply text-2xl;
    }
  }

  @keyframes show {
    0% {
      bottom: -50%;
    }
    20% {
      bottom: 2rem;
    }
    80% {
      bottom: 2rem;
    }
    100% {
      bottom: -50%;
    }
  }

  /* header */
  .link-user {
    @apply flex items-center gap-2 p-3 w-40;
  }

  /* menu */
  .link-menu {
    @apply flex items-center p-2 gap-4 rounded-lg;

    & i {
      @apply text-xl;
    }

    &:hover {
      @apply bg-[#38b6ff1a];

      & i {
        @apply text-[#38B6FF];
      }
    }
  }

  .atual {
    @apply bg-[#38b6ff1a] border-r-4 border-[#38B6FF] text-[#38B6FF] font-bold;
  }

  /* tabelas */
  .tabela-form {
    @apply w-full border border-[#d3d3d39e] rounded-2xl overflow-hidden shadow-lg;

    & form {
      @apply gap-4 p-4 bg-white;

      & .input-filtro {
        @apply p-2 border border-[#d3d3d39e] rounded-lg;
      }

      & button[type="submit"] {
        @apply p-2 text-white bg-sky-600 rounded-lg cursor-pointer transition-colors
        hover:bg-sky-700;
      }
    }

    & .table-container {
      @apply w-full overflow-auto;

      & table {
        @apply w-full bg-white;

        & thead {
          @apply bg-gray-50 border-t border-[#d3d3d39e];

          & th {
            @apply p-2 font-medium;
          }
        }

        & tr {
          @apply border-t border-[var(--cinza-borda)];
        }

        & .celula-tabela {
          @apply p-2 text-center whitespace-nowrap;
        }
      }
    }
  }

  #td-acoes {
    @apply flex justify-center items-center space-x-2;
    & #btn-edita {
      @apply text-sky-600 text-2xl hover:text-sky-700 p-1 hover:bg-blue-50 rounded;
    }

    & #btn-deleta {
      @apply text-red-600 text-2xl hover:text-red-700 p-1 hover:bg-red-50 rounded;
    }

    & #btn-status {
      @apply text-gray-600 text-2xl hover:text-gray-700 p-1 hover:bg-gray-50 rounded;
    }
  }
}

/* Botoes Informativos */

@layer components {
  .botao-informativo {
    @apply flex flex-col items-center justify-center bg-transparent border-none rounded-lg cursor-pointer transition-all duration-200 relative overflow-hidden;
  }
  .botao-informativo:hover {
    @apply scale-110 overflow-visible;
  }
  .botao-informativo path {
    @apply transition-all duration-200;
  }
  .botao-informativo:hover .botao-informativo path {
    @apply fill-white;
  }
  .botao-informativo:active {
    @apply scale-98;
  }
  .tooltip {
    @apply absolute top-[-40px] bg-[rgb(41,41,41)] text-white rounded-[5px] text-[12px] px-3 py-2 font-semibold shadow-lg flex items-center justify-center opacity-0 transition-all duration-500;
  }
  .tooltip::before {
    @apply absolute w-[10px] h-[10px] bg-[rgb(41,41,41)];
    content: "";
    transform: rotate(45deg);
    bottom: -10%;
  }
  .botao-informativo:hover .tooltip {
    @apply opacity-100;
  }
}
